{% extends "base.j2" %}
{% block title %}
  	Home
{% endblock title %}
{% block header %}
  	<h2>Home</h2>
{% endblock header %}
{% block content %}
  	{% if current_user %}
    	<h1>Blogs</h1>
		<ul>
		{% for blog in blogs %}
		<a href="{{ url_for('check_blog', blog_id=blog.id) }}" class="">
			<li>{{ blog.title }}</li>
		</a>
		<br>
		{% endfor %}
		</ul>
  	{% else %}
    	<div>Log in!</div>
  	{% endif %}
{% endblock content %}
