{% extends "base.j2" %}
{% block title %}
  	Home
{% endblock title %}
{% block header %}
  	<h2 style = "margin-bottom: 50px;">Home</h2>
{% endblock header %}
{% block content %}
  	{% if current_user %}
    	<h1>Blogs</h1>
		
		{% for blog in blogs %}
		<a href="{{ url_for('check_blog', blog_id=blog.id) }}" >
			<div class="alert alert-info">{{ blog.title }}</div>
		</a>
		<br>
		{% endfor %}
		
  	{% else %}
    	<div>Log in!</div>
  	{% endif %}
{% endblock content %}
